<launch>
  <node name="trainer" pkg="object_detector" type="trainer_node" output="screen">
    <remap from="image" to="/arm5e/image_rect_color" />
  </node>
  <node name="object_detector" pkg="object_detector" type="object_detector_node" output="screen">
    <remap from="image" to="/arm5e/image_rect_color" />
    <param name="detection_threshold" value="0.5" />
    <param name="detector_config_file" value="$(find object_detector)/cfg/detector.cfg"/>
  </node>
  <node name="detection_display" pkg="object_detector" type="detection_display_node">
    <remap from="image" to="/arm5e/image_rect_color" />
    <remap from="detection" to="/object_detector/detection" />
  </node>
</launch>

