<launch>
  <arg name="manager" default="detection_pipeline_manager" />
  <arg name="standalone" default="false" />
  <arg name="camera" default="camera_flex_wide/left" />
  <arg name="image" default="image_rect_color" />
  <arg name="show_images" default="false" />
  <arg name="models" default="" />

  <node if="$(arg standalone)" name="$(arg manager)" pkg="nodelet" type="nodelet" args="manager" output="screen" />

  <include file="$(find object_detection)/launch/color_detector.launch">
    <arg name="manager" value="$(arg manager)" />
    <arg name="standalone" value="false" />
    <arg name="camera" value="$(arg camera)" />
    <arg name="image" value="$(arg image)" />
    <arg name="show_images" value="$(arg show_images)" />
    <arg name="models" value="$(arg models)" />
  </include>

  <include file="$(find object_detection)/launch/shape_detector.launch">
    <arg name="manager" value="$(arg manager)" />
    <arg name="standalone" value="false" />
    <arg name="camera" value="$(arg camera)" />
    <arg name="input_detections" value="color_detector/detections" />
    <arg name="models" value="$(arg models)" />
  </include>

</launch>
