<launch>
  <arg name="image" default="camera_flex_wide/left/image_rect_color" />

  <node name="color_detector_display" pkg="object_detection" type="detection_display" output="screen" >
    <remap from="image" to="$(arg image)" />
    <remap from="detections" to="color_detector/detections" />
  </node>

  <node name="shape_detector_display" pkg="object_detection" type="detection_display" output="screen" >
    <remap from="image" to="$(arg image)" />
    <remap from="detections" to="shape_detector/detections" />
  </node>


</launch>
