<launch>
  <arg name="image" default="stereo_down/scaled/left/image_rect_color" />
  <arg name="detections" default="object_detector/detections" />

  <node name="detection_display" pkg="object_detection" type="detection_display" output="screen">
    <remap from="image" to="$(arg image)" />
    <remap from="detections" to="$(arg detections)" />
  </node>

</launch>
