<launch>

  <arg name="image" default="/stereo_down/scaled/left/image_rect_color" />
  <arg name="object_id" default="target" />

  <node name="object_detector" pkg="object_detection" type="features2d_matching_detector_node" output="screen">
    <remap from="image" to="$(arg image)" />
  </node>

  <node name="trainer" pkg="object_detection" type="trainer_node" output="screen">
    <remap from="image" to="$(arg image)" />
    <remap from="train" to="object_detector/train" />
  </node>

  <node name="detection_display" pkg="object_detection" type="detection_display" output="screen" >
    <remap from="image" to="$(arg image)" />
    <remap from="detections" to="object_detector/detections" />
  </node>

</launch>
