<launch>
  <arg name="stereo" default="stereo_down/scaled" />
  <arg name="image" default="image_rect" />

  <node name="object_detector" pkg="object_detection" 
        type="features2d3d_matching_detector_node" output="screen" >
    <remap from="stereo" to="$(arg stereo)" />
    <remap from="image" to="$(arg image)" />
  </node>

</launch>
