<launch>
    <node pkg="object_detector" name="object_detector_node" 
          type="object_detector_node" output="screen" launch-prefix="xterm -e gdb --args">
        <remap from="image" to="/arm5e/image_rect_color"/>
        <param name="interest_operator_chain" type="string" value="HistogramBackprojection"/>
    </node>
    <node pkg="object_detector" name="trainer_node" type="trainer_node" output="screen">
        <remap from="image" to="/arm5e/image_rect_color"/>
    </node>
    <node pkg="rosbag" name="rosbag_player" type="play" args="-l -d 1 -s 120 $(env ROS_BAGFILES_PATH)/surveyGirona1.bag"/>
</launch>
