<launch>
    <node pkg="object_detection" name="object_detector_node" 
          type="object_detector_node" output="screen">
        <remap from="image" to="/image_with_time"/>
        <param name="detector_config_file" value="$(find object_detection)/cfg/detector.cfg"/>
        <param name="detection_threshold" value="0.5"/>
    </node>
    <node pkg="object_detection" name="trainer_node" type="trainer_node" output="screen">
        <remap from="image" to="/image_with_time"/>
    </node>
    <node name="detection_display" pkg="object_detection" type="detection_display_node">
        <remap from="image" to="/image_with_time" />
        <remap from="detection" to="/object_detector_node/detection" />
        <param name="paint_rectangle" value="false"/>
        <param name="paint_direction" value="false"/>
        <param name="paint_outline" value="true"/>
        <param name="paint_text" value="true"/>
    </node>
    <node pkg="rosbag" name="rosbag_player" type="play" args="-l -s 2 $(env ROS_BAGFILES_PATH)/surveyGirona1-fixed-part.bag"/>
</launch>
