<launch>
  <arg name="image" default="stereo_down/left/image_rect_color" />
  <arg name="object_id" default="target" />

  <node name="trainer" pkg="object_detection" type="trainer_node" output="screen">
    <remap from="image" to="$(arg image)" />
    <remap from="train" to="object_detector/train" />
    <param name="object_id" value="$(arg object_id)" />
  </node>

</launch>
